/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */
/* #Site Styles
================================================== */
/* line 19, ../sass/layout.scss */
body {
  margin-top: 40px;
  margin-bottom: 40px;
  text-rendering: optimizeLegibility;
}

/* line 26, ../sass/layout.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

/* line 31, ../sass/layout.scss */
code {
  font-family: Consolas, Monaco, "Lucida Console", monospace;
  background-color: #eee;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

/* line 39, ../sass/layout.scss */
pre {
  overflow-x: scroll;
}

/* line 43, ../sass/layout.scss */
pre code {
  background: none;
  border-radius: 0;
  font-size: 14px;
  padding: 0;
}
/* line 48, ../sass/layout.scss */
pre code:before {
  color: #5f5a60;
  float: right;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
/* line 54, ../sass/layout.scss */
pre code.python:before {
  content: "Python";
}
/* line 57, ../sass/layout.scss */
pre code.ruby:before {
  content: "Ruby";
}
/* line 60, ../sass/layout.scss */
pre code.bash:before {
  content: "Bash";
}
/* line 63, ../sass/layout.scss */
pre code.javascript:before {
  content: "JavaScript";
}
/* line 66, ../sass/layout.scss */
pre code.cpp:before {
  content: "C++";
}
/* line 69, ../sass/layout.scss */
pre code.brainfuck:before {
  content: "brainfuck";
}

/* line 74, ../sass/layout.scss */
time {
  line-height: 40px;
}

/* line 78, ../sass/layout.scss */
#logo {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}

/* line 86, ../sass/layout.scss */
#avatar {
  border-radius: 50%;
  box-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333;
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
