/* line 1, ../sass/pygment.scss */
pre code .c {
  color: #586e75;
}

/* Comment */
/* line 2, ../sass/pygment.scss */
pre code .err {
  color: #93a1a1;
}

/* Error */
/* line 3, ../sass/pygment.scss */
pre code .g {
  color: #93a1a1;
}

/* Generic */
/* line 4, ../sass/pygment.scss */
pre code .k {
  color: #859900;
}

/* Keyword */
/* line 5, ../sass/pygment.scss */
pre code .l {
  color: #93a1a1;
}

/* Literal */
/* line 6, ../sass/pygment.scss */
pre code .n {
  color: #93a1a1;
}

/* Name */
/* line 7, ../sass/pygment.scss */
pre code .o {
  color: #859900;
}

/* Operator */
/* line 8, ../sass/pygment.scss */
pre code .x {
  color: #cb4b16;
}

/* Other */
/* line 9, ../sass/pygment.scss */
pre code .p {
  color: #93a1a1;
}

/* Punctuation */
/* line 10, ../sass/pygment.scss */
pre code .cm {
  color: #586e75;
}

/* Comment.Multiline */
/* line 11, ../sass/pygment.scss */
pre code .cp {
  color: #859900;
}

/* Comment.Preproc */
/* line 12, ../sass/pygment.scss */
pre code .c1 {
  color: #586e75;
}

/* Comment.Single */
/* line 13, ../sass/pygment.scss */
pre code .cs {
  color: #859900;
}

/* Comment.Special */
/* line 14, ../sass/pygment.scss */
pre code .gd {
  color: #2aa198;
}

/* Generic.Deleted */
/* line 15, ../sass/pygment.scss */
pre code .ge {
  color: #93A1A1;
  font-style: italic;
}

/* Generic.Emph */
/* line 16, ../sass/pygment.scss */
pre code .gr {
  color: #dc322f;
}

/* Generic.Error */
/* line 17, ../sass/pygment.scss */
pre code .gh {
  color: #cb4b16;
}

/* Generic.Heading */
/* line 18, ../sass/pygment.scss */
pre code .gi {
  color: #859900;
}

/* Generic.Inserted */
/* line 19, ../sass/pygment.scss */
pre code .go {
  color: #93a1a1;
}

/* Generic.Output */
/* line 20, ../sass/pygment.scss */
pre code .gp {
  color: #93a1a1;
}

/* Generic.Prompt */
/* line 21, ../sass/pygment.scss */
pre code .gs {
  color: #93A1A1;
  font-weight: bold;
}

/* Generic.Strong */
/* line 22, ../sass/pygment.scss */
pre code .gu {
  color: #cb4b16;
}

/* Generic.Subheading */
/* line 23, ../sass/pygment.scss */
pre code .gt {
  color: #93a1a1;
}

/* Generic.Traceback */
/* line 24, ../sass/pygment.scss */
pre code .kc {
  color: #cb4b16;
}

/* Keyword.Constant */
/* line 25, ../sass/pygment.scss */
pre code .kd {
  color: #268bd2;
}

/* Keyword.Declaration */
/* line 26, ../sass/pygment.scss */
pre code .kn {
  color: #859900;
}

/* Keyword.Namespace */
/* line 27, ../sass/pygment.scss */
pre code .kp {
  color: #859900;
}

/* Keyword.Pseudo */
/* line 28, ../sass/pygment.scss */
pre code .kr {
  color: #268bd2;
}

/* Keyword.Reserved */
/* line 29, ../sass/pygment.scss */
pre code .kt {
  color: #dc322f;
}

/* Keyword.Type */
/* line 30, ../sass/pygment.scss */
pre code .ld {
  color: #93a1a1;
}

/* Literal.Date */
/* line 31, ../sass/pygment.scss */
pre code .m {
  color: #2aa198;
}

/* Literal.Number */
/* line 32, ../sass/pygment.scss */
pre code .s {
  color: #2aa198;
}

/* Literal.String */
/* line 33, ../sass/pygment.scss */
pre code .na {
  color: #93a1a1;
}

/* Name.Attribute */
/* line 34, ../sass/pygment.scss */
pre code .nb {
  color: #b58900;
}

/* Name.Builtin */
/* line 35, ../sass/pygment.scss */
pre code .nc {
  color: #268bd2;
}

/* Name.Class */
/* line 36, ../sass/pygment.scss */
pre code .no {
  color: #cb4b16;
}

/* Name.Constant */
/* line 37, ../sass/pygment.scss */
pre code .nd {
  color: #268bd2;
}

/* Name.Decorator */
/* line 38, ../sass/pygment.scss */
pre code .ni {
  color: #cb4b16;
}

/* Name.Entity */
/* line 39, ../sass/pygment.scss */
pre code .ne {
  color: #cb4b16;
}

/* Name.Exception */
/* line 40, ../sass/pygment.scss */
pre code .nf {
  color: #268bd2;
}

/* Name.Function */
/* line 41, ../sass/pygment.scss */
pre code .nl {
  color: #93a1a1;
}

/* Name.Label */
/* line 42, ../sass/pygment.scss */
pre code .nn {
  color: #93a1a1;
}

/* Name.Namespace */
/* line 43, ../sass/pygment.scss */
pre code .nx {
  color: #93a1a1;
}

/* Name.Other */
/* line 44, ../sass/pygment.scss */
pre code .py {
  color: #93a1a1;
}

/* Name.Property */
/* line 45, ../sass/pygment.scss */
pre code .nt {
  color: #268bd2;
}

/* Name.Tag */
/* line 46, ../sass/pygment.scss */
pre code .nv {
  color: #268bd2;
}

/* Name.Variable */
/* line 47, ../sass/pygment.scss */
pre code .ow {
  color: #859900;
}

/* Operator.Word */
/* line 48, ../sass/pygment.scss */
pre code .w {
  color: #93a1a1;
}

/* Text.Whitespace */
/* line 49, ../sass/pygment.scss */
pre code .mf {
  color: #2aa198;
}

/* Literal.Number.Float */
/* line 50, ../sass/pygment.scss */
pre code .mh {
  color: #2aa198;
}

/* Literal.Number.Hex */
/* line 51, ../sass/pygment.scss */
pre code .mi {
  color: #2aa198;
}

/* Literal.Number.Integer */
/* line 52, ../sass/pygment.scss */
pre code .mo {
  color: #2aa198;
}

/* Literal.Number.Oct */
/* line 53, ../sass/pygment.scss */
pre code .sb {
  color: #586e75;
}

/* Literal.String.Backtick */
/* line 54, ../sass/pygment.scss */
pre code .sc {
  color: #2aa198;
}

/* Literal.String.Char */
/* line 55, ../sass/pygment.scss */
pre code .sd {
  color: #93a1a1;
}

/* Literal.String.Doc */
/* line 56, ../sass/pygment.scss */
pre code .s2 {
  color: #2aa198;
}

/* Literal.String.Double */
/* line 57, ../sass/pygment.scss */
pre code .se {
  color: #cb4b16;
}

/* Literal.String.Escape */
/* line 58, ../sass/pygment.scss */
pre code .sh {
  color: #93a1a1;
}

/* Literal.String.Heredoc */
/* line 59, ../sass/pygment.scss */
pre code .si {
  color: #2aa198;
}

/* Literal.String.Interpol */
/* line 60, ../sass/pygment.scss */
pre code .sx {
  color: #2aa198;
}

/* Literal.String.Other */
/* line 61, ../sass/pygment.scss */
pre code .sr {
  color: #dc322f;
}

/* Literal.String.Regex */
/* line 62, ../sass/pygment.scss */
pre code .s1 {
  color: #2aa198;
}

/* Literal.String.Single */
/* line 63, ../sass/pygment.scss */
pre code .ss {
  color: #2aa198;
}

/* Literal.String.Symbol */
/* line 64, ../sass/pygment.scss */
pre code .bp {
  color: #268bd2;
}

/* Name.Builtin.Pseudo */
/* line 65, ../sass/pygment.scss */
pre code .vc {
  color: #268bd2;
}

/* Name.Variable.Class */
/* line 66, ../sass/pygment.scss */
pre code .vg {
  color: #268bd2;
}

/* Name.Variable.Global */
/* line 67, ../sass/pygment.scss */
pre code .vi {
  color: #268bd2;
}

/* Name.Variable.Instance */
/* line 68, ../sass/pygment.scss */
pre code .il {
  color: #2aa198;
}

/* Literal.Number.Integer.Long */
