$blueprint-grid-columns:  12;
$blueprint-grid-width:    80px;
$blueprint-grid-margin:   10px;

@import "partials/normalize";
@import "blueprint/grid";

@mixin debug($color: red) {
  outline: 1px dashed $color;
}

body {
  background: #141414;
  color: #f8f8f8;
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 2.11538em;
}
h2 {
  font-size: 1.61538em;;
}
h3 {
  font-size: 1.30769em;
}
p {
}
a {
  &:link {
    color: #cf6a4c;
  }
  &:visited {
    color: #cf6a4c;
  }
  &:hover {
    color: #cf6a4c;
    text-decoration: none;
  }
  &:active {
    color: #cf6a4c;
  }
}
hr {
  background: #5f5a60;
  border: 0;
  height: 1px;
}
pre,
code {
  background: #181818;
}

#container {
  @include container;
  padding: 0 10px;
  #header {
    @include column(6);
    height: 96px;
    margin-left: -10px;
    padding-right: 10px;
    h1 {
      color: #7587a6;
      font-size: 48px;
      font-weight: normal;
      line-height: 96px;
      margin: 0;
      padding: 0;
    }
  }
  nav {
    @include column(6, true);
    margin-right: -10px;
    padding-left: 10px;
    ul {
      float: right;
      margin: 0;
      line-height: 2em;
      padding: 0;
      li {
        display: block;
        float: left;
        font-family: Helvetica, Arial, sans-serif;
        line-height: 96px;
        padding-left: 10px;
        &:first-child:before {
          content: "{";
          margin-right: 10px;
        }
        &:after {
          content: ",";
        }
        &:last-child:after {
          content: "}";
          margin-left: 10px;
        }
        a {
          &:link,
          &:visited,
          &:hover,
          &:active {
            color: #8f9d6a;
          }
        }
      }
    }
  }
  #content {
    @include column(8);
    article {
      margin-bottom: 48px;
      header {
        h2 {
          color: #9B703F;
          a {
            &, &:link, &:visited, &:hover, &:active {
              color: #9B703F;
              text-decoration: none;
            }
          }
        }
        time {
          color: #5F5A60;
          font-style: italic;
        }
      }
    }
    pre code {
      &:before {
        color: #5f5a60;
        float: right;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
      }
      &.python:before {
        content: "Python";
      }
      &.ruby:before {
        content: "Ruby";
      }
      &.bash:before {
        content: "Bash";
      }
    }
  }
  aside {
    @include column(4, true);
    ol {
      list-style: none;
      padding-left: 0;
      li {
        &:before {
          content: "=>";
          margin-right: 5px;
        }
      }
    }
  }
  #footer {
    @include clearfix;
    border-top: solid 1px #5f5a60;
    clear: both;
    font-family: Helvetica, Arial, sans-serif;
    height: 48px;
    line-height: 48px;
    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: #CDA869;
      }
    }
  }
}