---
layout: default
title: Zac Stewart
---
{% for post in site.posts %}
  <div class="row">

    <time class="two columns alpha" datetime="{{ post.date | date: "%Y-%m-%d" }}">
      {{ post.date | date_to_string }}
    </time>

    <div class="ten columns omega">
      <h2 class="">
        <a href="{{post.url}}" rel="canonical">{{ post.title }}</a>
      </h2>

      {% if post.excerpt %}
        {{ post.excerpt }}
        <p>
          <a href="{{post.url}}">
            {% if post.break %} {{ post.break }} {% else %} Read more {% endif %}
          </a>
        </p>
      {% endif %}
    </div>

  </div>
{% endfor %}
