---
layout: default
title: Zac Stewart
---
<div id="content">
  {% for post in site.posts %}
  <article>
    <header>
      <h2>{{ post.title }}</h2>
      <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_string }}</time>
    </header>
    {{ post.content }}
    <footer>
      <a href="{{post.url}}">Permalink</a>
    </footer>
  </article>
  {% endfor %}
</div>
<aside>
  <h2>Recent Posts</h2>
  <ol>
    {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ol>
</aside>