<aside class="container short-bio">
  <div class="columns alpha two">
    <img src="http://gravatar.com/avatar/c5e99d5ecfaab30b92d9a7cdb34e0e33?s=64" alt="Zac Stewart" id="avatar">
  </div>
  <div class="columns omega ten">
    <p>
      I'm a software engineer interested in machine learning, web backends,
      system software, realtime systems, and much more. I'm looking for
      consulting work.
    </p>

    <p>
      Have an interesting problem? <a href="mailto:work@zacstewart.com?subject=Work">I’d love to hear from you.</a>
    </p>
  </div>
</aside>
