<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% include open-graph.html %}

    <title>{{ page.title }} | zacstewart.com</title>

    <link rel="alternate" type="application/rss+xml" title="Zac Stewart" href="http://zacstewart.com/feed.xml">

    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/skeleton.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/tables.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/pygment.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/components.css" type="text/css" media="screen, projection">

    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <script data-goatcounter="https://zacstewart.goatcounter.com/count"
      async src="//gc.zgo.at/count.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="three columns">
        <h1 id="logo" class="remove-bottom">
          <a href="/">Zac Stewart</a>
        </h1>

        <nav>
          <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/projects.html">Projects</a></li>
          </ul>
        </nav>

        <nav class="nav-social-media clearfix">
          <ul class="nav-social-media__list">
            <li>
              <a href="https://github.com/zacstewart/">
                <img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/github.svg" />
              </a>
            </li>
            <li>
              <a href="https://twitter.com/zacstewart">
                <img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/twitter.svg" />
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/zacstewart/">
                <img height="32" width="32" src="https://unpkg.com/simple-icons@latest/icons/instagram.svg" />
              </a>
            </li>
          </ul>
        </nav>

        <p>
          Have an interesting problem?
          <a href="mailto:work@zacstewart.com?subject=Work">Let's talk</a>
        </p>
      </div>

      <div class="twelve columns offset-by-one">
        {{ content }}
      </div>
    </div>
  </body>
</html>
