<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | zacstewart.com</title>
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/css/pygment.css" type="text/css" media="screen, projection">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'><link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
    /* <![CDATA[ */
        (function() {
            var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
            t.parentNode.insertBefore(s, t);
        })();
    /* ]]> */
    </script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18516502-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
  </head>

  <body>
    <div id="container">
      <header id="header">
        <h1>Zac Stewart</h1>
      </header>
      <nav>
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="http://github.com/zacstewart">Code</a></li>
        </ul>
      </nav>
      <div id="content">
        {{ content }}
      </div>
      <aside>
        <h2>Recent Posts</h2>
        <ol>
          {% for post in site.posts limit:10 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ol>
      </aside>
      <footer id="footer">
        <a href="http://github.com/zacstewart/zacstewart.com">Fork this Blog</a>
      </footer>
    </div>
  </body>
</html>